@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


@layer base {
    @font-face {
      font-family: 'Bafora';
      src: url('fonts/BaforaRegularDemo.ttf') format("opentype");
    }
    @font-face {
        font-family: 'RetroCool';
        src: url('../public/fonts/RetroCoolRegular.woff') format("woff");
      }
      @font-face {
        font-family: 'IvoryEmery';
        src: url('../public/fonts/IvoryEmery.ttf') format("opentype");
      }
  }

body {
  background-color: #EEEEEE;
  /*color: #393E46*/
  color: #001C30
}
.mainmenuText{
    @apply text-black;
}
.mainmenuText li{
    @apply hover:cursor-pointer
}

.mygradientBlue{
    @apply bg-gradient-to-r from-cyan-500 to-blue-500
}

.p-menuitem-link:hover {
  background-color: #000 !important;
}

.p-menubar{
  background-color: #393E46 !important;
  background: rgb(2,0,36) !important;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,62,70,0.8073354341736695) 55%, rgba(238,238,238,1) 100%) !important;
  
}