@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


@layer base {
    @font-face {
      font-family: 'Bafora';
      src: url('fonts/BaforaRegularDemo.ttf') format("opentype");
    }
    @font-face {
        font-family: 'RetroCool';
        src: url('../public/fonts/RetroCoolRegular.woff') format("woff");
      }
      @font-face {
        font-family: 'IvoryEmery';
        src: url('../public/fonts/IvoryEmery.ttf') format("opentype");
      }
  }


.mainmenuText{
    @apply text-black;
}
.mainmenuText li{
    @apply hover:cursor-pointer
}

.mygradientBlue{
    @apply bg-gradient-to-r from-cyan-500 to-blue-500
}